form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.AddNote{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #dcdcdc;
  border-radius: 1rem;
  padding: 1rem;
  /* margin: 2rem 0; */
  min-width: 12rem;
  min-height: 10rem;
  width: 100%;
}
.note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #dcdcdc;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 12rem;
  min-height: 10rem;

  white-space: pre-wrap;
}
.note h1{
  font-size: 1.7rem;
}
.note p{
  font-size: 1.1rem;
  padding: 0.4rem 0;
}
.note span{
  color: white;
  font-size: 0.7rem;
}

.noNote{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5rem;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}

.group-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.group-btn a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-btn2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem ;
}
/* .note.new{
 display: flex;
 justify-content: center;
 align-items: center;
} */
textarea{
  border: none;
  resize: none;
  color: #dcdcdc ;
  background-color: transparent;
  caret-color: #a46856;
}

textarea:focus{
  outline: none;
}
.title-textarea{
  font-size: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #727272;
  border-top: 1px solid #727272;

  font-weight: bold;
}
.content-textarea{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.4rem;
  font-weight: lighter;
}

.save{
  padding: 0.3rem 0.6rem ;
  border-radius: 20rem;
  border: none;
  background-color: #a46856;
  color: white;
}

.save:hover{
  background-color: #b68678;
  cursor: pointer;
}

.header{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1{
  color: white;
}
section{
  padding:  1rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1rem 0;
  margin: 0 auto;
}
.listWrapper{
  width: 100%;

}
.click-icon{
  cursor: pointer;
  color: #dcdcdc ;
  background-color: transparent;
  outline: none;
  border:none;
}

.click-icon:hover{
  color: #a46856;
}

.search{
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  color: #dcdcdc;
  border-radius: 1rem;
  padding: 0.4rem 2rem;
  margin: 2rem auto;
}

.search input{
  border: none;
  background-color: transparent;
  width: 90%;
  margin: 0 1rem;
  color:#dcdcdc ;
}

.search input:focus{
  outline: none;
}


/* CSS */
.btn-add {
  position: fixed;
  bottom: 5%;
  right: 5%;
  appearance: none;
  color: #a46856;
  background-color: transparent;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn-add:disabled {
  pointer-events: none;
}

.btn-add:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-add:active {
  box-shadow: none;
  transform: translateY(0);}